@import "../settings/all";
@import "../tools/all";

.card {
  border-radius: 9px;
  margin: 10px 6px;
  padding: 16px;

  background-color: $c-card-background;

  @include outline();
  @include font-primary();
}

.card__header {
  padding-bottom: 8px;
  margin-bottom: 20px;
  border-bottom: $stroke;
  @include font-header();
}
