.link {
  text-decoration: underline;
  cursor: pointer;
}

.link-primary {
  @include font-link-primary();
}

.link-secondary {
  @include font-secondary();
}

.link-danger {
  @include font-primary();
  font-weight: 500;
  color: $c-button-danger;
}
