$font-default: roboto, sans-serif;

// texts
@mixin font-primary {
  color: $c-text-primary;
  font-family: $font-default;
  font-size: 15px;
  line-height: 140%;
  text-decoration: none;
}

@mixin font-secondary {
  color: $c-text-secondary;
  font-family: $font-default;
  font-size: 15px;
  text-decoration: none;
}
// links
@mixin font-link-primary {
  color: $c-link-primary;
  font-family: $font-default;
  font-size: 15px;
  text-decoration: underline;
}


// titles headers
@mixin font-header {
  color: $c-text-primary;
  font-family: $font-default;
  font-size: medium;
  text-decoration: none;
  font-weight: 500;
  line-height: 150%;
}

// buttons
@mixin font-button-primary {
  color: $c-text-button-primary;
  font-family: $font-default;
  font-size: 18px;
  font-weight: 500;
}

@mixin font-button-secondary {
  color: $c-text-button-secondary;
  font-family: $font-default;
  font-size: 18px;
  font-weight: 500;
}
