$c-white: #fff;
$c-black: #303030;

$c-gray: #909090;
$c-gray-light: #DDDDDD;
$c-gray-lighter: #F1F1F1;
$c-gray-lightest: #F7F7F7;

$c-red: #D64545;

$c-green: #82A95E;

$c-blue: #5E7A99;
$c-blue-light: #D8E1EC;
$c-blue-lighter: #eff4f8;
